.navBar{
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: bisque;
}
.logo{
  width: 50px;
}